<div class="container login-container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-error" *ngIf="error">{{error.message}}</div>
        <div class="panel-heading">
          <h3 class="panel-title">Login</h3>
        </div>
        <div class="panel-body">
          <form (submit)="login()">
            <div class="form-group">
              <label for="username">Username</label>
              <input [(ngModel)]="username" name="username" type="text" placeholder="Username" class="form-control"/>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input [(ngModel)]="password" name="password" type="password" placeholder="Password" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="panel-footer">
          <div><a id="login-with-mic" (click)="loginWithMIC()">Login with Mobile Identity Connect</a>
          <div><a [routerLink]="['/signup']">Don't have an account? Sign up</a>
        </div>
      </div>
    </div>
  </div>
</div>
