<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Books Collection <small>using a <code>SyncStore</code></small></h1>
    </div>
    <div id="books-table" class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Review</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books">
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.isbn}}</td>
            <td>{{book.review}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
