<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>DataStore <small>Books Collection</small></h1>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Review</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books">
            <td><input type="checkbox" [checked]="book.selected" (change)="book.selected = !book.selected"/></td>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.isbn}}</td>
            <td>{{book.review}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="clearfix">
      <div class="pull-right">
        <button type="button" class="btn btn-success" (click)="create()">Create</button>
        <button type="button" class="btn btn-default" (click)="update()">Update</button>
        <button type="button" class="btn btn-danger" (click)="remove()">Remove</button>
        <button type="button" class="btn btn-default" (click)="pull()">Pull</button>
        <button type="button" class="btn btn-default" (click)="push()">Push</button>
        <button type="button" class="btn btn-default" (click)="clearSync()">Clear Sync</button>
      </div>
    </div>
  </div>
</div>
